force-app/main/default/flows/SurveyQuestionResponse_after_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Trustpilot_email</name>
        <label>Send Trustpilot email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Invitation.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>project.ndax@integrate2cloud.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for your feedback — would you mind leaving us a quick Trustpilot review?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Invitation.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_contactId_is_not_null</name>
        <label>If contactId is not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactId_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invitation.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Trustpilot_email</targetReference>
            </connector>
            <label>ContactId is not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SurveyQuestionResponse - after create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SurveyQuestionResponse - after create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_contactId_is_not_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NumberValue</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>NumberValue</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <object>SurveyQuestionResponse</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Thank you for your positive feedback.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;We would be grateful if you could take a moment to share your experience in a review on Trustpilot&amp;nbsp;&lt;a href=&quot;https://ca.trustpilot.com/evaluate/ndax.io?stars=5&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;shared your experience in a review on Trustpilot here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Positive reviews from valued clients like yourself help others feel more assured that they will receive the support they need should any issues arise. Your feedback also plays a significant role in helping us grow and reach new clients.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
