force-app/main/default/flows/Voice_Calls_Routed_to_Basic_Queue_with_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Push Case and Contact records to the Screen Pop</description>
        <name>Send_Case_And_Contact</name>
        <label>Send Case And Contact</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;79a4f426&quot;,&quot;targetObjectId&quot;:&quot;{!contactRecord.Id}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;7e9d8d0a&quot;,&quot;targetObjectId&quot;:&quot;{!caseRecord.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Existing_Contact</name>
        <label>Send Existing Contact</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;888dcf89&quot;,&quot;targetObjectId&quot;:&quot;{!contactRecord.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Existing_Contact</name>
        <label>Set Existing Contact</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>contactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Existing_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>No_Case_Found</name>
        <label>No Case Found</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Send_Case_And_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Case Found</defaultConnectorLabel>
        <rules>
            <name>CaseNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>CaseNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create a Contact When we do not find a contact record</description>
        <name>NoContactFound</name>
        <label>NoContactFound</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Existing_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Voice Calls Routed to Basic Queue with Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Calls Routed to Basic Queue with Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>caseRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Case_And_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>IncomingCallPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>contactRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>IncomingCallPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>IncomingCallPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Case_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactPhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingCallPhoneNumber</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoContactFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingCallPhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>opencti__SCV_Basic_Routing_Flow</sourceTemplate>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>AmazonBasicQueueARN for the given Salesforce Basic Queue</description>
        <name>AmazonBasicQueueARN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Incoming Phone#</description>
        <name>IncomingCallPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SFDC_PHONE_SERVICE_CHANNEL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceChannel</objectType>
    </variables>
</Flow>
